# Ignore everything
/*

# Everything But these files
!.gitignore
!.bash_aliases
!.bashrc
!.gitconfig
!.gitmodules
!.latexmkrc
!.pylintrc
!.vimrc
!README.md
!configure.sh
!wake.sh

# Everything but these directories
!.fzf/
!.vim/
!bin/
