black
cmakelang
compdb
git-filter-repo
gitlint
ipython
isort
jedi
jedi-language-server
libtmux
matplotlib>=3.6.0
numpy<1.25.0
parsedatetime
pandas
pip
pydocstyle
pygments
pylint
pylint-venv
python-lsp-server
rope
seaborn
