black
cmakelang
coloredlogs
compdb
git-filter-repo
gitlint
isort
jedi
jedi-language-server
libtmux
more-itertools
parsedatetime
pip
pydocstyle
pygments
pylint
pylint-venv
python-lsp-server
rope
seaborn
