[user]
    name = Austin Gill
    email = notgnoshi@gmail.com
[core]
    editor = vim
    fileMode = false
    eol = lf
    autocrlf = input
    pager = perl /usr/share/doc/git/contrib/diff-highlight/diff-highlight | less
[credential]
    helper = cache
    help = cache --timeout=60000
[push]
    default = simple
[alias]
    gl    = !bash -c 'source $DOTFILES_DIR/lib/fzf.sh && fzf-git-browse'
    lg    = log --color --graph --pretty=format:'%C(auto)%h%d %s %C(black)%C(bold)%an, %cr' --abbrev-commit --decorate
    ll    = log --pretty=format:'%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(bold blue) <%an>' --decorate --numstat --abbrev-commit
    rf    = reflog --pretty=format:'%C(auto)%h %gd %gs%C(black)%C(bold), %cr'
    co    = checkout
    amend = commit --amend --no-edit
    st    = status
    b     = branch -vv
    # git rebase --autosquash --continue isn't valid...
    rb    = rebase
    rba   = rebase --autosquash
    chp   = cherry-pick
    cor   = checkout --recurse-submodules
    yolo  = !git commit -am \"$(curl -s http://whatthecommit.com/index.txt)\"
[pull]
    rebase = true
[submodule]
    recurse = true
